<div id="<%= dom_id entry %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Date:</strong>
    <%= entry.date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= entry.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Mood:</strong>
    <%= entry.mood %>
  </div>
</div>
