<div>
  <div>
    <p class="text-xs text-muted-foreground font-medium pl-1"><%= @title %></p>
  </div>
  <ol class="bg-white mt-2 mb-8 px-4 rounded-2xl divide-stone-200 divide-y">
    <%= content %>
  </ol>
</div>
