<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
  <%= render "card", title: "Users", count: User.count, data_description: "Trending up this month", description: "Visitors for the last 6 months", path: admin_users_path %>
  <%= render "card", title: "Habits", count: Habit.count, data_description: "hello", description: "asdsa", path: admin_habits_path %>
  <%= render "card", title: "Entries", count: Entry.count, data_description: "hello", description: "asdsa", path: admin_entries_path %>
</div>
