<!DOCTYPE html>
<html class="h-full">
  <%= render partial: "layouts/head" %>

  <body class="h-full bg-background text-gray-900">
    <div class="flex h-full" data-controller="sidebar">
      <%= render partial: "layouts/admin/sidebar" %>

      <div class="flex flex-col flex-1 h-full">
        <main class="flex-1 p-3 h-full">
          <div
            id="mainContent"
            class="bg-white rounded-2xl border !border-gray-100 shadow h-full flex flex-col overflow-hidden"
          >
            <!-- Fixed header (won’t scroll away) -->
            <div class="shrink-0">
              <%= render partial: "layouts/admin/header" %>
            </div>

            <!-- Scrollable content area -->
            <div class="p-6 flex-1 overflow-y-auto">
              <%= yield %>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
