<div data-action="click->dialog#clickOutside">
  <dialog data-dialog-target="modal" 
      class="fixed inset-x-0 bottom-0 top-auto rounded-t-xl rounded-b-none border-t border-x border-b-0 bg-background p-0 shadow-lg outline-none w-full max-w-full md:max-w-xl mx-auto transition-transform duration-300">
    <div class="flex flex-col gap-4 p-4">
      <div class="mx-auto h-1.5 w-16 rounded-full bg-muted"></div>
      <div class="p-4">
        <%= turbo_frame_tag :drawer %>
      </div>
    </div>
  </dialog>
</div>