<dialog 
  data-modal-target="dialog"
  data-action="click->modal#backdropClose"
  class="fixed inset-x-0 bottom-8 top-auto bg-white w-full sm:max-w-sm mx-auto rounded-3xl p-6 relative overflow-y-auto scrollbar-hide h-fit transform left-1/2 shadow-2xl border border-black/5 backdrop-blur-sm transition-allow-discrete [&::backdrop]:transition-all [&::backdrop]:duration-300 [&::backdrop]:bg-black/50 [&::backdrop]:opacity-0 [&[open]::backdrop]:opacity-100 <%= yield :modal_styles%>"
>
  <div class="w-full flex items-center justify-between mb-6">
    <h3 class="font-semibold text-xl text-gray-900">Options</h3>
    <button type="button" data-action="click->modal#close" class="text-gray-400 bg-gray-50 rounded-full p-2 hover:text-gray-600 transition-colors">
      <%= lucide_icon("x", class: "w-6 h-6") %>
    </button>
  </div>

  <div class="space-y-3">
    <%= yield :modal_content%>
  </div>
</dialog>
