<div 
  data-transition-enter-active="transition ease-out duration-300"
  data-transition-enter-from="translate-y-full opacity-0"
  data-transition-enter-to="translate-y-0 opacity-100"
  data-transition-leave-active="transition ease-in duration-200"
  data-transition-leave-from="translate-y-0 opacity-100"
  data-transition-leave-to="translate-y-10 opacity-0"
>

  <dialog 
    data-modal-target="dialog"
    data-action="click->modal#backdropClose"
    class="fixed inset-x-0 bottom-8 top-auto bg-white w-full w-[80%] mx-auto rounded-[32px] p-8 relative overflow-y-scroll h-fit transition-transform duration-300 ease-in transform left-1/2 -translate-x-1/2 <%= yield :modal_styles%>"
  >
    <div class="w-full flex items-center justify-between border-b pb-4 mb-4">
      <h3 class="font-medium text-lg">Actions</h3>
      <button type="button" data-action="click->modal#close">
        <%= lucide_icon("x", "size" => "24") %>
      </button>
    </div>

    <div class="space-y-2">
      <%= yield :modal_content%>
    </div>
  </dialog>
</div>
