<section id="features" class="py-20 px-20">
  <div class=" mx-auto text-left space-y-6 grid grid-cols-1 lg:grid-cols-3 gap-8 ">
    <div class="space-y-2  pb-6">
      <span class="rounded-lg bg-[linear-gradient(120deg,_#ffd9a0_20%,_#ff7f7f_60%,_#ff5ec4_90%)] text-white w-10 h-10 max-w-10 flex items-center justify-center">
        <%= lucide_icon("ham")%>
      </span>
      <h2 class="text-2xl font-semibold">Start Small, Think Big</h2>
      <p class="text-neutral-500 text-base">
        We believe in the power of small, consistent actions. Every journey begins with a single bite-sized step.
      </p>
    </div>
    <div class="space-y-2  pb-6">
      <span class="rounded-lg bg-[linear-gradient(120deg,_#ffd9a0_20%,_#ff7f7f_60%,_#ff5ec4_90%)] text-white w-10 h-10 max-w-10 flex items-center justify-center">
        <%= lucide_icon("target")%>
      </span>
      <h2 class="text-2xl font-semibold">Human-Centered Design</h2>
      <p class="text-neutral-500 text-base">
        Life isn't perfect, and neither are we. BiteHabit is built for real people with real lives - flexible, forgiving, and always encouraging.
      </p>
    </div>
    <div class="space-y-2  pb-6">
      <span class="rounded-lg bg-[linear-gradient(120deg,_#ffd9a0_20%,_#ff7f7f_60%,_#ff5ec4_90%)] text-white w-10 h-10 max-w-10 flex items-center justify-center">
        <%= lucide_icon("bell")%>
      </span>
      <h2 class="text-2xl font-semibold">Progress Over Perfection</h2>
      <p class="text-neutral-500 text-base">
        It's not about being perfect; it's about being better than yesterday. Celebrate progress, learn from setbacks, and keep moving forward.
      </p>
    </div>
  </div>
</section>