<section id="features" class="py-20">
  <div class="max-w-4xl mx-auto text-left space-y-6 ">
    <div class="space-y-2 border-b border-b-border pb-6">
      <span class="rounded-lg bg-gray-100 text-prymary w-10 h-10 max-w-10 flex items-center justify-center">
        <%= lucide_icon("ham")%>
      </span>
      <h2 class="text-2xl font-semibold">Create habits with intention</h2>
      <p class="text-neutral-500 text-base">
        Name your habits, define your frequency, and set durations that match your goals.
      </p>
    </div>
    <div class="space-y-2 border-b border-b-border pb-6">
      <span class="rounded-lg bg-gray-100 text-prymary w-10 h-10 max-w-10 flex items-center justify-center">
        <%= lucide_icon("target")%>
      </span>
      <h2 class="text-2xl font-semibold">Log progress effortlessly</h2>
      <p class="text-neutral-500 text-base">
        Tick off your habits daily with a clean, distraction-free interface.
      </p>
    </div>
    <div class="space-y-2 border-b border-b-border pb-6">
      <span class="rounded-lg bg-gray-100 text-prymary w-10 h-10 max-w-10 flex items-center justify-center">
        <%= lucide_icon("bell")%>
      </span>
      <h2 class="text-2xl font-semibold">Stay consistent with reminders</h2>
      <p class="text-neutral-500 text-base">
        Nudges via notifications help you stay on track without feeling overwhelmed.
      </p>
    </div>
  </div>
</section>