<div class="absolute right-0 top-0 h-full overflow-hidden"
     data-habit-card-swipe-target="actions"
     style="opacity: 0; width: 0px;">
  <%= link_to new_habit_entry_path(habit), class: "h-full flex items-center justify-center flex-col bg-gray-500 text-white hover:bg-gray-600 transition-colors", style: "width: 100%; min-width: 80px;", data: {action: "click->dialog#open", turbo_frame: :drawer}  do %>
    <%= lucide_icon('circle-fading-plus', class: 'w-5 h-5') %>
    <span class="text-[10px] whitespace-nowrap">Check-in</span>
  <% end %>
</div>