<% content_for :title, "Habits" %>

<div class="w-full">

  <div id="habits" class="min-w-full divide-y divide-gray-200 space-y-5">
    <% if @habits.any? %>
      <% @habits.each_with_index do |habit, index| %>
        <div class="flex flex-col sm:flex-row justify-between items-center pb-5 sm:pb-0 gap-8">
          <%= render partial: "habit", locals: { index: index, habit: habit } %>
        </div>
      <% end %>
    <% else %>
        <div class="grid gap-6 mx-auto mt-8">
          <%= lucide_icon('flask-conical', class:" mx-auto p-3 rounded-full w-12 h-12 text-primary flex items-center justify-center bg-primary-foreground") %>
          <div class="space-y-2">
            <h2 class="text-center text-black text-base font-semibold leading-relaxed pb-1">You have not create any habits yet</h2>
            <p class="text-center text-black font-normal leading-snug pb-4">Try changing your filters to <br />see appointments </p>
            <div class="flex gap-3">
              <%= link_to new_habit_path, class: " flex items-center gap-2 text-medium font-semibold text-primary text-center justify-center bg-primary-foreground w-full py-3 rounded-lg" do %>
                <%= lucide_icon('plus', class:"rounded-full w-6 h-6 bg-primary flex items-center justify-center text-primary-foreground") %>
                Create your first habit
            <% end %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
