<!DOCTYPE html>
<html>
  <%= render partial: "layouts/head" %>
  <body 
    data-controller="dialog modal" 
    class="bg-black"
    >
    <div id="main-content-wrapper" class=" w-full transition-transform duration-300 origin-center rounded-t-2xl overscroll-none" data-dialog-target="content">
      <main class="mx-auto bg-white min-h-screen relative w-full">
        <%= render partial: "layouts/navbar"%>
        <section class="mx-auto w-full flex items-center h-[calc(100vh-120px)] md:h-[calc(100vh-56px)] gap-8 p-4 md:p-8">
          <%= yield %>
        </section>
      </main>
    </div>
    <%= render 'shared/flash' %>

  </body>
</html>
