<!DOCTYPE html>
<html>
  <%= render partial: "layouts/head" %>
  <body 
    data-controller="dialog modal" 
    class="bg-black"
    >
    <div id="main-content-wrapper" class=" w-full transition-transform duration-300 origin-center rounded-t-2xl overscroll-none" data-dialog-target="content">
      <main class="mx-auto bg-white min-h-screen relative w-full">
        <%= render partial: "layouts/navbar"%>
        <section class="flex-1 flex flex-col justify-center items-center text-center px-4 w-full">
          <%= yield %>
        </section>
      </main>
    </div>
    <%= render 'shared/flash' %>

  </body>
</html>
